/* OpSheetPrint.css */
@media print {
  body * {
    visibility: hidden;
  }

  #op-sheet, #op-sheet * {
    visibility: visible;
  }

  #op-sheet {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
